.title {
  text-align: center;
  margin-bottom:20px;
}
.catalogWrapper {
  display: flex;
  width: 100%;
  .cardsWrapper {
    width:100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 0 20px;
    gap:30px;
  }
}