.header {
  display: flex;
  justify-content: space-around;
  align-items:center;
  border:2px solid var(--color-border);
  border-radius:12px;
  width:75%;
  justify-self:center;
  margin-top:10px;
  padding:10px;
  .linksWrapper {
    display: flex;
    gap:35px;
    .headerLink {
      color:var(--color-text);
      transition:0.3s;
      padding:10px;
      border-radius:12px;
    }
    .active, .headerLink:hover {
      color:var(--color-accent);
      transition:0.3s;
      background-color:var(--color-border);
    }
  }
}