:root {
  --color-bg: #0B3D91;
  --color-accent: #07f5ed;
  --color-text: #F5F7FA;
  --color-border: #2C3E50;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter',sans-serif;
  font-size:16px;
  color:var(--color-text);
  background-color:var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition:0.3s;
  &:hover {
    color: var(--color-accent);
    transition:0.3s;
  }
}

.ant-btn {
  background-color:var(--color-bg) !important;
  color: var(--color-text) !important;
  border-color:var(--color-text) !important;
  &:hover {
    color:var(--color-accent) !important;
    background-color:var(--color-bg) !important;
    border-color:var(--color-accent) !important;
  }
}

.ant-typography {
  color: var(--color-text) !important;
}
.ant-form-item-label > label {
  color: var(--color-text) !important;
}