.adminLayout {
  display: flex;
  height:85vh;
  align-items: center;
  .aside, .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside {
    width:15%;
    border: 2px solid var(--color-border);
    border-left:none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:10px;
    .navLink {
      padding:10px;
      border-radius:6px;
    }
    .navLink:hover, .active {
      background-color: var(--color-border);
      color:var(--color-accent);
    }
  }
  .mainContent {
    width:85%;
  }
}